<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.santoshb.mytube">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".dummy.controller.MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".dummy.activity.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".dummy.activity.AllMixActivity"
            android:label="@string/Trailers_Teasers"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <activity
            android:name=".dummy.activity.PlayYoutubeVideoActivity"
            android:launchMode="singleTop"
            android:screenOrientation="landscape" />
        <activity
            android:parentActivityName=".dummy.activity.AllMixActivity"
            android:name=".dummy.activity.ShowTypeBasedVideosActivity"
            android:launchMode="singleTop" />
        <service android:name=".dummy.ServiceToLoadVideosInBG"/>
    </application>

</manifest>