<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:app="http://schemas.android.com/apk/res-auto"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.santoshb.milo">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".AppController"
        android:allowBackup="true"
        android:fullBackupContent="@xml/backup_descriptor"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".activity.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.LoginActivity"
            android:label="@string/login" />
        <activity
            android:name=".activity.ListOfVehiclesActivity"
            android:label="@string/vehicles" />
        <activity
            android:name=".activity.RegisterActivity"
            android:label="@string/registration" />
        <activity
            android:name=".activity.ProfileActivity"
            android:label="@string/profile"
            android:parentActivityName=".activity.ListOfVehiclesActivity"
            tools:targetApi="jelly_bean" />
        <activity
            android:name=".activity.VehicleDetailActivity"
            android:parentActivityName=".activity.ListOfVehiclesActivity"
            tools:targetApi="jelly_bean" />
        <activity
            android:name=".activity.AddReadingActivity"
            android:label="@string/addReading"
            android:windowSoftInputMode="stateHidden|adjustPan"
            tools:targetApi="jelly_bean" />
        <activity
            android:name=".activity.BarActivity"
            android:label="@string/graph_view"
            android:parentActivityName=".activity.VehicleDetailActivity"
            tools:targetApi="jelly_bean" />
        <activity
            android:name=".activity.MileageSuggestionsActivity"
            android:label="@string/mileageSuggestions"
            android:parentActivityName=".activity.ListOfVehiclesActivity"
            tools:targetApi="jelly_bean" />
        <activity
            android:name=".activity.WebviewActivity"
            android:label="@string/bestMileageVehicles" />
        <activity
            android:name=".activity.MileageCalculationActivity"
            android:label="@string/calculateMileage"
            android:parentActivityName=".activity.ListOfVehiclesActivity"
            android:windowSoftInputMode="stateHidden|adjustPan"
            tools:targetApi="jelly_bean" />
    </application>

</manifest>